::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

body {
    /*background-color: #0099ff;*/
	background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: "Times New Roman", Times, serif;
	color:CC3300;
}
#header {
	border-radius: 25px;
	background-color: #ffffff;
	position:fixed;
	width:60%;
	height:10%;
	left:20%;
	top:0%;
	border: solid 1px;	
	opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
#content {
	border-radius: 5%;
	background-color: #ffffff;
	font-size:16px;
	position:fixed;
	width:60%;
	height:76%;
	left:20%;
	top:12%;
	border:solid 1px;
	overflow-y:auto;
	overflow-x:hidden;
	opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
#footer {
	border-radius: 25px;
	background-color: #ffffff;
	position:fixed;
	width:60%;
	height:10%;
	left:20%;
	bottom:0%;
	border: solid 1px;
	opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
#menu {
	border-radius: 25px;
	background-color: #ffffff;
	position:fixed;
	width:15%;
	height:76%;
	left:2%;
	top:12%;
	border: solid 1px;
	opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
#menuList {
	position:absolute;
	top:1%;
	left:1%;
}
#headerText {
	position:absolute;
	top:30%;
	left:1%;
	font-size:30px;
}
#avatar {
	position:absolute;
	top:10%;
	left:90%;
	height:80%;
}
#footerText {
	position:absolute;
	top: 35%;
	left:1%;
}
#loginStatus {
	position:absolute;
	top:26%;
	right:12%;
	font-size:20px;
	text-align: right;
}
#contentText {
	position:absolute;
	top:5%;
	left:5%;
	width:100%;
}
#avatarInBlog {
	position:absolute;
	left:0%;
	width:4%;
}
#postowner {
	position:absolute;
	left:6%;
}